
{% extends 'firstapp/base.html' %}
{% load static %}
{% block title %}
    <title>Post-Detail</title>
{% endblock %}
{% block css %}  <link rel="stylesheet" type="text/css" href="{% static 'firstapp/css/home.css' %}"/>  {% endblock %}
{% block content %}
    <div class="container">


     {% if single_data %}
    <div class="card">

        <div class="card-body">
            <h2> <span>{{ single_data.title }}</span></h2>
            <p>{{ single_data.body |safe }}</p>
        </div>
    </div>
         {% endif %}

        <!-- Content here -->
    </div>
{% endblock %}
